body{
    font-family:"Montserrat";
}

#title{background-color: #ff4c68;
color: #fff;
}

.container-fluid{
    padding: 5% 15% 5% 15%;
}
h1{
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 10rem;
    font-weight: bold;
}
.nav-bar{
    padding-bottom: 4.5rem;
}
.nav-item{
    padding: 0px 15px;
}
.trans{
    transform: rotate(25deg);
}
.feat{
    padding: 7% 15%;
}
p{
    color: grey;
}
.feat{
    text-align: center;
    padding: 5%;
}
.icon{
    color: indianred;

}
.icon:hover{
    color: lightcoral;
}
h3{
 
}
.testmonials-img{
    width: ;
    

}